<h1>Listando facturas</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<td><% Factura.all.each do |factura| %></td>
  <tr>
  	<td></td>
    <td><%= link_to 'Mostrar', factura %></td>
    <td><%= link_to 'Cancelar', factura, method: :delete, data: { confirm: '¿Estas seguro que deseas cancelar ésta factura?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Factura', new_factura_path %>
