<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="styles.css">
    	<%= wicked_pdf_stylesheet_link_tag "styles" -%>
    	
        <title>New Web Project</title>
    </head>
    <body>
        <div class="header">
        	<div class="image">
        		<img src="logo_round.png" />
        	</div>
        	<div class="account">
        		<ul>
        			<li>Aggero Solutions</li>
        			<li>Mi cuenta</li>
        			<li>Salir</li>
        		</ul>
        	</div>
        </div>
        
        <div class="main_panel">
        	<div class="menu">
        		<div class="element">
	        		<div class="bullet1"><img src="facturas.png" /></div>	
	        		<div class="text1">Facturas</div>
        		</div>
        		<div class="element">
        			<div class="bullet2"><img src="clientes.png" /></div>
        			<div class="text2">Clientes</div>
        		</div>
        		<div class="element">
        			<div class="bullet3"><img src="productos.png" /></div>
        			<div class="text3">Productos</div>
        		</div>
        		<div class="element">
        			<div class="bullet4"><img src="reportes.png" /></div>
        			<div class="text4">Reportes</div>
        		</div>
        	</div>
        	<div class="content_panel">
        		<div class="content_header">
        			
        		</div>
        		<div class="content">
        			
        		</div>
        	</div>
        </div>
    </body>
</html>