<h1>Actualizando usuario</h1>

<div class="row">
  <div class="span6 offset3">
  	<table>
    <%= form_for(@user) do |f| %>

      <%= render 'form', f: f %>
      <td><%= f.submit "Guardar cambios", class: "btn btn-large btn-primary" %></td>
    <% end %>
    </table>
  </div>
</div>