<% provide(:title, "Nuevo cliente")%>
<div class="row">
  <div class="span6 offset3">
  	<table>
    <%= form_for(@client) do |f| %>

      <%= render 'form', f: f %>
      <td><%= f.submit "Crear cliente", class: "btn btn-large btn-primary" %> &oacute; <%= link_to "Regresar", clients_path%></td>
    <% end %>
    </table>
  </div>
</div>